*{ margin: 0;
padding: 0;
}
.container{
    display:grid;
    place-content: center;
    height: 100vh;
    width: 100%;
}
.card_box{
    margin: auto;
    height: 600px;
    width:90%;
    background-color: #c7b3b3;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    
    gap:10px;
}
.box1{
    
    display: flex;
}